body {
	background-color: #0f0f0f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	position: relative;
	overflow: hidden;
}
main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

/* .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
} */
.overlay-1 {
	display: none;
}
.top {
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 50px;
	padding: 15px 35px 30px;
	/* margin-bottom: 50px; */
}
.left {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-left: 27px;
}

a {
	display: flex;
	color: white;
	text-decoration: none;
}
.a {
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	gap: 39px;
	height: fit-content;
}
nav div {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.youtube-icon {
	justify-content: flex-start;
}
.youtube-icon-1 {
	justify-content: flex-start;
	align-items: center;
	position: relative;
	color: white;
}

.mic {
	border-radius: 50%;
	background-color: #80808034;
}
.mic:hover {
	background-color: #80808079;
}
.icon {
	width: 40px;
}
.icon:hover {
	background-color: #80808059;
	border: 0px solid;
	border-radius: 50%;
}
#country-code {
	color: white;
	margin-left: -214px;
	margin-top: -30px;
	opacity: 20%;
	font-size: 12px;
}
.country {
	position: absolute;
	right: 29px;
	top: 20px;
	font-size: 13px;
	opacity: 30%;
}
.sreach {
	display: flex;
	align-items: center;
}
input {
	width: 635px;
	height: 43px;
	background-color: transparent;
	border: 1px rgba(128, 128, 128, 0.283) solid;
	border-radius: 20px 0px 0px 20px;
	font-size: 15px;
	color: white;
	font-weight: 500;
}
input:focus {
	outline-color: blue;
}
.search-icon {
	background-color: rgb(43 39 39 / 56%);
	padding: 8px;
	border: 1px rgba(128, 128, 128, 0.283) solid;
	border-radius: 0px 20px 20px 0px;
	cursor: pointer;
}
.img-1 {
	border: 0px white solid;
	border-radius: 50%;
}
#img-1 {
	border: 0px white solid;
	border-radius: 50%;
}
.left-side {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 96%;
}
.side-1 {
	display: none;
	width: 270px;
	height: 100%;
	gap: 10px;
	padding: 24px;
	margin-top: -25px;
	overflow: hidden;
	overflow-y: auto;
	transition: 850ms;
	background-color: #0f0f0f;
	position: relative;
}

.active {
	display: block;
}
/* .head {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 100px;
	position: relative;
	margin-top: 6px;
	position: relative;
	gap: 50px;
} */
.sidebar-icon-1 {
	width: 19%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 19px;
}
.youtube-icon-1 {
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head div {
	cursor: pointer;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 100%;
	font-size: 14px;
}
.box div {
	display: flex;
	color: white;
	align-items: center;
	font-size: 12px;
	border: 0px solid;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	text-transform: capitalize;
	flex-wrap: wrap;
	gap: 39px;
	width: 90%;
	font-size: 14px;
}
.box div:hover {
	background-color: #80808059;
}
ul {
	list-style: none;
	display: flex;
	width: 207px;
	gap: 7px;
	font-size: 13px;
	flex-wrap: wrap;
}
li {
	cursor: pointer;
	color: #aaa;
}
li a {
	color: #aaa;
}

.line {
	display: flex;
	height: 1px;
	width: 90%;
	background-color: #80808059;
	margin: 10px 0px 10px 0px;
}
.topic {
	display: flex;
	justify-content: start;
	align-items: center;
	color: white;
	padding: 5px 0px 5px 0px;
	width: 82%;
	font-size: 15px;
}

.side-2 {
	display: block;
	width: 100px;
	height: 100%;
	gap: 10px;
	padding: 8px;
	overflow: hidden;
	overflow-y: auto;
	transition: 850ms;
	z-index: 5;
	background-color: #0f0f0f;
	transition: 1s;
}
.active-1 {
	display: none;
}
/* .side-2::after{
    content:"";
    height: calc(100vh - 100px);
    width: 50px;
    background-color: green;
    position: absolute;
} */
.box-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: white;
	gap: 25px;
}
.box-1 > div {
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 76px;
	border: 0px solid;
	border-radius: 10px;
	padding: 7px 0px 3px 0px;
}
.box-1 > div:hover {
	background-color: #6b696977;
	cursor: pointer;
}
.vids-area {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 90%;
	gap: 28px;
	overflow: hidden;
}
.right-side {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: 30px;
}
.cats {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.swlide-wrapper {
	display: flex !important;
	justify-content: center;
	align-self: center !important;
}
.swiper-slide {
	display: flex !important;
	justify-content: space-evenly;
	align-items: center;
	width: 100% !important;
}
.swiper-slide div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 0px;
	border-radius: 10px;
}
.swiper-slide div:hover {
	background-color: #6b696977;
	cursor: pointer;
}
:root {
	--swiper-navigation-size: 19 !important;
	--swiper-theme-color: white !important;
}
.swiper-button-prev {
	position: absolute !important;
	top: 0;
	right: 0;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	top: 9 !important;
	left: 35 !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-next {
	top: 9 !important;
	right: 35 !important;
}

.vids {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
	height: 100%;
	gap: 20px;
	flex-wrap: wrap;
	overflow: hidden;
	overflow-y: auto;
}
#thunmnail {
	border: 0px solid;
	border-radius: 10px;
	width: 280px;
	height: 153px;
}
.vid-cont-1 {
	background-color: transparent;
	height: fit-content;
	width: fit-content;
	display: flex;
	border: 0px solid;
	border-radius: 10px;
	position: relative;
}
.video-length {
	position: absolute;
	background-color: black;
	color: white;
	padding: 5px;
	top: 52%;
	right: 10px;
	background-color: #00000036;
}
.watch-later {
	position: absolute;
	background-color: #000000b8;
	color: white;
	padding: 5px;
	top: 4%;
	right: 1px;
	width: 36px;
	/* display: none; */
	cursor: pointer;
	display: none;
	justify-content: center;
	align-items: center;
	height: 30px;
}
.addToqueue {
	position: absolute;
	background-color: #000000bf;
	color: white;
	padding: 5px;
	top: 21%;
	right: 2px;
	width: 34px;
	cursor: pointer;
	display: none;
	justify-content: center;
	align-items: center;
}
.vid-cont-1:hover .watch-later {
	display: flex;
	cursor: pointer;
}
.vid-cont-1:hover .addToqueue {
	display: flex;
	cursor: pointer;
}
.dots {
	position: absolute;
	color: white;
	padding: 5px;
	bottom: 16%;
	right: -9px;
	width: 23px;
	cursor: pointer;
	display: none;
}
.vid-cont-1:hover .dots {
	display: block;
}
.toVid {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	border: 0px solid;
	border-radius: 10px;
}
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
	background-color: transparent;
	opacity: 0.9;
}
.hidden {
	display: none !important;
}
.hidden-channel {
	display: none !important;
}
.video-play::after {
	content: " ";
	width: 0%;
	height: 3px;
	background-color: red;
	position: absolute;
	left: 3px;
	bottom: 64px;

	z-index: 1;
	border: 0px solid;
	border-radius: 0px 0px 12px 12px;
}
.vid-cont-1:hover #thunmnail {
	border-radius: 0px;
}

.vid-cont-1:hover .video-play::after {
	width: 99%;
	transition: 10s ease-in-out;
}
.copyright {
	display: flex;
	margin-top: 20px;
	justify-content: start;
	align-items: center;
	font-size: 12px;
	color: #aaa;
	width: 64%;
}
